.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }

  .container {
    display: flex;
    width: 50%;
  }

  .userSubmission {
    flex: 1;
    margin: 10px;
  }

  .generator {
    flex: 1;
    margin: 10px;
  }